<h1> Enter the side lengths of a triangle!</h1>

<form action="/output">
  <div class="row">
    <div class="col">
      <input type="number" class="form-control" name="side1" placeholder="Side 1">
    </div>
    <div class="col">
      <input type="number" class="form-control" name="side2" placeholder="Side 2">
    </div>
    <div class="col">
      <input type="number" class="form-control" name="side3" placeholder="Side 3">
    </div>
    <button type="submit" class="btn btn-info">Submit!</button>
  </div>
</form>
